<mat-toolbar>
  Bill List
  <div class="stock-sold">
    No of Products Sold :{{ total_stock}}
  </div>
</mat-toolbar>
<div class="search-container">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Search Bills</mat-label>
      <input matInput [(ngModel)]="searchQuery" (keyup)="filterProducts()" placeholder="Enter Bill Id">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Filter by Month</mat-label>
        <mat-select [(ngModel)]="selectedMonth" (selectionChange)="filterByMonth()">
          <mat-option *ngFor="let month of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="month">
            {{ month }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
<div class="container">
  <table mat-table [dataSource]="bills" class="mat-elevation-z8" *ngIf="bills.length > 0">
      <ng-container matColumnDef="billId">
          <th mat-header-cell *matHeaderCellDef> Bill ID </th>
          <td mat-cell *matCellDef="let bill"> {{ bill._id }} </td>
      </ng-container>

      <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let bill"> {{ bill.date | date }} </td>
      </ng-container>

     
      <ng-container matColumnDef="items">
          <th mat-header-cell *matHeaderCellDef> Items </th>
          <td mat-cell *matCellDef="let bill">
              <ul>
                  <li *ngFor="let item of bill.items">
                      {{ item.product.name }} - ₹{{ item.product.price }} x {{ item.quantity }} = ₹{{ item.total }}
                  </li>
              </ul>
          </td>
      </ng-container>

   
      <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total Amount </th>
          <td mat-cell *matCellDef="let bill"> ₹{{ calculateBillTotal(bill) }} </td>
      </ng-container>

    <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let bill">
              <button mat-raised-button color="warn" (click)="onDelete(bill._id)">DELETE</button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['billId', 'date', 'items', 'total', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['billId', 'date', 'items', 'total', 'actions'];"></tr>
  </table>

  <p *ngIf="bills.length === 0" class="info-text mat-body-1">No bills added yet</p>
</div>



